* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v40_106 {
  width: 100%;
  height: 945px;
  background: rgba(12,12,12,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v40_108 {
  width: 50px;
  height: 50px;
  background: url("../images/v40_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 39px;
  overflow: hidden;
}
.v40_111 {
  width: 35px;
  height: 35px;
  background: url("../images/v40_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1844px;
  border: 1px solid rgba(83,83,83,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v40_112 {
  width: 35px;
  height: 35px;
  background: url("../images/v40_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1798px;
  border: 1px solid rgba(83,83,83,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v40_163 {
  width: 20px;
  height: 20px;
  background: url("../images/v40_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 1806px;
  overflow: hidden;
}
.v40_166 {
  width: 20px;
  height: 20px;
  background: url("../images/v40_166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 1852px;
  overflow: hidden;
}
.v40_334 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 140px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_335 {
  width: 177px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 210px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_379 {
  width: 557px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 506px;
  left: 454px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_337 {
  width: 228px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 247px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_339 {
  width: 157px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 284px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_341 {
  width: 144px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 354px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_352 {
  width: 12px;
  color: rgba(61,61,61,1);
  position: absolute;
  top: 322px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v40_342 {
  width: 207px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 391px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_343 {
  width: 179px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 461px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_344 {
  width: 195px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 498px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_346 {
  width: 204px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 535px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_363 {
  width: 157px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 605px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_364 {
  width: 216px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 642px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_365 {
  width: 147px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 679px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_370 {
  width: 218px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 749px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_371 {
  width: 235px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 786px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_372 {
  width: 237px;
  color: rgba(83,83,83,1);
  position: absolute;
  top: 823px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_351 {
  width: 205px;
  height: 1px;
  background: rgba(61,61,61,1);
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 86px;
  overflow: hidden;
}
.v40_357 {
  width: 114px;
  color: rgba(61,61,61,1);
  position: absolute;
  top: 429px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v40_358 {
  width: 101px;
  height: 1px;
  background: rgba(61,61,61,1);
  opacity: 1;
  position: absolute;
  top: 438px;
  left: 190px;
  overflow: hidden;
}
.v40_360 {
  width: 86px;
  color: rgba(61,61,61,1);
  position: absolute;
  top: 573px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v40_361 {
  width: 129px;
  height: 1px;
  background: rgba(61,61,61,1);
  opacity: 1;
  position: absolute;
  top: 582px;
  left: 162px;
  overflow: hidden;
}
.v40_367 {
  width: 103px;
  color: rgba(61,61,61,1);
  position: absolute;
  top: 717px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v40_368 {
  width: 113px;
  height: 1px;
  background: rgba(61,61,61,1);
  opacity: 1;
  position: absolute;
  top: 726px;
  left: 178px;
  overflow: hidden;
}
.v40_354 {
  width: 90px;
  color: rgba(61,61,61,1);
  position: absolute;
  top: 179px;
  left: 64px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v40_355 {
  width: 130px;
  height: 1px;
  background: rgba(61,61,61,1);
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 162px;
  overflow: hidden;
}
.v40_375 {
  width: 721px;
  height: 405px;
  background: url("../images/v40_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 1085px;
  border: 1px solid rgba(83,83,83,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v40_377 {
  width: 482px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 367px;
  left: 454px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v40_378 {
  width: 1px;
  height: 769px;
  background: rgba(83,83,83,1);
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 373px;
  overflow: hidden;
}
